include README.md
include manual.md
include changes.md
include LICENSE
include CONTRIBUTING.md
recursive-include sagemage *.py *.txt *.json *.csv py.typed
recursive-include sagemage/examples *.py *.txt *.json *.csv
recursive-include tests *.py
recursive-include docs *
